includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - config
        - database
        - resources
        - routes
        - src

    # The level 9 is the highest level
    level: 5